name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      checks: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "corretto"

      - uses: ./.github/actions/cache-gradle
        with:
          cache-key-prefix: gradle

      - run: chmod +x gradlew

      - run: ./gradlew build

      - uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: build/test-results/**/*.xml
